$semi-black: #263238;

$gray: #E7EEF0;
$dark-blue-gray: #D6DFE2;
$blue-gray: #F4F4F4;
$chat-gray: #F7F9F9;
$pale-gray: #F4F8F9;
$text-gray: #B6BdBF;
$icon-gray: #BDC1C3;
$buble-gray: #E1EEF2;
$hippest-gray: #78909C;
$zendesc-gray: #8E97A0;
$widget-header: #E9F0F2;
$bluish-gray: #77909D;

$green: #21CF6C;
$btn-green: #62CB76;
$call-green: #1FD659;
$dark-green: rgb(26, 77, 42);

$red: #F75658;
$coral: #FA5454;
$pink: #9933ff;

$azure: #22A5F6;

$orange: #FFBB44;
$yellow: #FDBA50;

$brown: brown;

$table-green: #D7FDE8;
$table-red: #FDE1E1;
